@using GraduateWorkUdovychenko.Domain.ViewModels;
@model IEnumerable<CreateQuizViewModel>
<link rel="stylesheet" type="text/css" href="~/Main/css/UserPanel.css">


<div class="main">
    <div class="aboutuser">
        <h1> Вітаю @User.Identity.Name!</h1>
        <h2>Віші виконані завдання тут</h2>
    </div>

    <div style="margin-bottom:35px;" _ngcontent-aof-c18="" class="squiggle"><svg _ngcontent-aof-c18="" aria-hidden="true" width="100%" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><pattern _ngcontent-aof-c18="" id="a" width="91" height="8" patternUnits="userSpaceOnUse"><g _ngcontent-aof-c18="" clip-path="url(#clip0_2426_11367)"><path _ngcontent-aof-c18="" d="M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0" stroke="#b7d894" stroke-linecap="square" stroke-width="1"></path></g></pattern><rect _ngcontent-aof-c18="" width="100%" height="100%" fill="url(#a)"></rect></svg></div>

    @foreach (var item in Model)
    {
        <div class="QuizBox">
            <div class="AboutQuiz">
                <h2>@item.Name</h2>
                <h3>@item.Description</h3>
            </div>
            <div class="Rating">
                <h2>Оцінка:</h2>
                @if(item.Rating == 0)
                {
                    <h2>Роботу не оціненно</h2>
                }
                else {<h2>@item.Rating / @item.MaxRatingForQuiz</h2>}
            </div>
        </div>
    }
</div>